[Unit]
Description=kanshi - dynamic output configuration
Documentation=man:kanshi(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/kanshi
