[user]
	name = Alexandre Carlton
	email = acar7163@uni.sydney.edu.au
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
