[submodule "zsh/oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "X/.palettes/xresources"]
	path = X/.palettes/xresources
	url = git@github.com:solarized/xresources.git
[submodule "X/.palettes/base16-xresources"]
	path = X/.palettes/base16-xresources
	url = git@github.com:chriskempson/base16-xresources
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = git@github.com:syl20bnr/spacemacs.git
[submodule "fish/.oh-my-fish"]
	path = fish/.oh-my-fish
	url = git@github.com:bpinto/oh-my-fish.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto
