emacs/.emacs.d/
in-progress/
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
vim/.vim/bundle/
vim/.vim/autoload/
vim/.vim/plugged
vim/.vim/.netrwhist
xmonad/.xmonad/
zsh/.config/zsh/.zcompcache
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zhistory
