[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "X/.config/X11/colours/solarized"]
	path = X/.config/X11/colours/solarized
	url = https://github.com/solarized/xresources.git
[submodule "steam/.local/share/Steam/skins/Air"]
	path = steam/.local/share/Steam/skins/Air
	url = https://github.com/outsetini/Air-for-Steam.git
[submodule "zsh/.config/zsh/.zprezto"]
	path = zsh/.config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "git/.config/git/templates/hooks"]
	path = git/.config/git/hooks
	url = https://github.com/AlexandreCarlton/git-hooks
