[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "colours/.config/base16/shell"]
	path = colours/.config/base16/shell
	url = https://github.com/chriskempson/base16-shell
[submodule "colours/.config/base16/xresources"]
	path = colours/.config/base16/xresources
	url = https://github.com/chriskempson/base16-xresources
[submodule "X/.Xresources.d/colours/solarized"]
	path = X/.Xresources.d/colours/solarized
	url = https://github.com/solarized/xresources.git
[submodule "steam/.local/share/Steam/skins/Air"]
	path = steam/.local/share/Steam/skins/Air
	url = https://github.com/outsetini/Air-for-Steam.git
[submodule "zsh/.config/zsh/.zprezto"]
	path = zsh/.config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
