emacs/.emacs.d/
fish/.config/fish/fish_history
fish/.config/fish/fishd.*
ghc/.ghc/ghci_history
in-progress/
psd/.config/psd/.psd.conf
python/.config/python/python_history
python/.config/pylint/pylint.d
retroarch/.config/retroarch/cores
retroarch/.config/retroarch/database
retroarch/.config/retroarch/content_history.lpl
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
systemd/.config/systemd/user/*.wants
tmux/.config/tmux/plugins/*
vim/.config/nvim/autoload/
vim/.config/nvim/plugged
vim/.config/nvim/.netrwhist
xmonad/.xmonad/
zsh/.config/zsh/.zcompcache
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompdump.zwc
zsh/.config/zsh/.zhistory
