[Unit]
Description=User systemd services for a bspwm graphical session
BindsTo=graphical-session.target

# Nothing seems to actually start graphical-session-pre.target,
# despite it refusing to be manually started.
Requires=graphical-session-pre.target
After=graphical-session-pre.target

Wants=bspwm.service
Wants=sxhkd.service
Wants=polybar.service
Wants=x11.socket

# Not sure how else to make this active.
[Install]
WantedBy=default.target
