[Unit]
Description=bspwm
Documentation=man:bspwm(1)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/bspwm
