[Unit]
Description=lightstatus

Requires=lemonbar.socket
After=lemonbar.socket

Requires=lightstatus.socket
After=lightstatus.socket

[Service]
ExecStart=/usr/local/bin/lightstatus
StandardInput=socket
# TODO: It would be better if we could use fd:lemonbar.socket, but that doesn't seem to be working.
StandardOutput=file:%t/lemonbar-fifo

[Install]
WantedBy=desktop.target
