[Unit]
Description=left pointer cursor
Documentation=man:xsetroot(1)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=graphical-session.target
