[Unit]
Description=Rofi (run)
Documentation=man:rofi(1)
PartOf=graphical-session.target
After=graphical-session-pre.target
Wants=xrdb.service
After=xrdb.service

[Service]
ExecStart=/usr/bin/rofi -key-run SuperL-%I

[Install]
WantedBy=graphical-session.target
