[Unit]
Description=unclutter
Documentation=man:unclutter(1)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/unclutter -noevents

[Install]
WantedBy=graphical-session.target
