[Unit]
Description=RXVT-Unicode Daemon
Documentation=man:urxvtd(1) man:urxvt(1)
PartOf=graphical-session.target
After=graphical-session-pre.target
Requires=urxvtd.socket

[Service]
# Note that this environment needs to be supplied when launching urxvtc.
ExecStart=/usr/bin/urxvtd --opendisplay
Restart=on-failure

[Install]
WantedBy=graphical-session.target
Also=urxvtd.socket
