[Unit]
Description=RXVT-Unicode Daemon
Documentation=man:urxvtd(1) man:urxvt(1)
Requires=urxvtd.socket
Requisite=display-server.target
After=display-server.target

[Service]
# Note that this environment needs to be supplied when launching urxvtc.
ExecStart=/usr/bin/urxvtd --opendisplay
Restart=on-failure

[Install]
WantedBy=desktop.target
Also=urxvtd.socket
