[Unit]
Description=Xorg
Documentation=man:Xorg(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/Xorg $DISPLAY -nolisten tcp -noreset -verbose 20 vt1
# Xorg looks for 'lib/xorg/protocol.txt', so we set the pwd to account for that.
WorkingDirectory=/usr
SuccessExitStatus=0 1
