[Unit]
Description=Xorg delay
# Clients connecting to the socket before xorg is up causes a deadlock.
# We therefore fire up the service eagerly before anything else can by enabling this unit.
Requires=xorg.service
After=xorg.service
Before=graphical-session-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sleep %i

[Install]
WantedBy=graphical-session-pre.target
