[Unit]
Description=xrdb
Documentation=man:xrdb(1)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xrdb -display $DISPLAY -merge %h/.config/X11/Xresources

[Install]
WantedBy=graphical-session.target
