[Unit]
Description=IntelliJ IDEA Community Edition
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/opt/intellij-idea-ce/bin/idea.sh

[Install]
WantedBy=graphical-session.target
