[Unit]
Description=IntelliJ IDEA Ultimate Edition
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/opt/intellij-idea-ultimate-edition/bin/idea.sh

[Install]
WantedBy=graphical-session.target
