[Unit]
Description=IntelliJ IDEA Community Edition
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/idea

[Install]
WantedBy=graphical-session.target
