#!/bin/sh

# Useful aliases

# Pesky permissions
alias ffs='eval "sudo $(fc -ln -1)"'

# Don't accidentally delete an important directory.
[ -x /usr/bin/trash ] && alias rm="trash"

# Use Vimpager to view files.
if [ -x /usr/bin/vimpager ]; then
    alias less=vimpager
    alias zless=vimpager
fi

# Start R without the startup prompt
alias R="R --quiet"

# Create aliases for nmcli for easy use of wifi.
alias nmcon="nmcli -p con up id"
alias nmlist="nmcli -p dev wifi"

# Git
alias ga="git add"
alias gc="git commit -v"
alias gst="git status"

# Tmux
alias ta="tmux attach"
alias td="tmux detach"

# Pacman
alias pacin="sudo pacman -S"
alias pacupg="sudo pacman -Syu"
alias pacs="pacman -Ss"
alias pacr="sudo pacman -Rs"

# AUR (Aura)
alias aurin="sudo aura -Ax"
alias aurupg="sudo aura -Akuax"
alias aurs="aura -As"

# Helper alias for debugging symbols.
alias urxvtc_stlarch='urxvtc -letsp 2 -fn "-*-gohufont-medium-*-*-*-11-*-*-*-*-*-iso10646-*","-misc-stlarch-medium-r-normal--10-100-75-75-c-80-iso10646-1"'

# Upgrade Spacemacs
alias spupg="cd ${HOME}/.emacs.d && git pull --rebase && git submodule sync && git submodule update"

# Helper aliases/exports when working on Chromium.
# . $HOME/.chromium
