[Unit]
Description=wallpaper %I
Documentation=man:feh(1)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --verbose --no-fehbg --bg-fill %h/Pictures/Wallpaper/%I
RemainAfterExit=yes

[Install]
# This is only needed by xorg; weston already has settings for wallpaper.
WantedBy=graphical-session.target
