; vim:ft=cfg:

root = true

[*]
char_set = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{bspwmrc,sxhkdrc}]
indent_size = 2
indent_style = tab

# https://google.github.io/styleguide/htmlcssguide.html
[*.css]
indent_size = 2
indent_style = tab

[{**/git/,.git}config]
indent_style = tab

# https://golang.org/cmd/gofmt/
[*.go]
indent_size = 2
continuation_indent_size = 4
indent_style = tab

[*.groovy]
indent_style = space
indent_size = 4
continuation_indent_size = 8

# https://google.github.io/styleguide/javaguide.html
[*.java]
indent_style = space
indent_size = 2
continuation_indent_size = 4

# https://google.github.io/styleguide/jsoncstyleguide.xml
[*.json,*.json5]
indent_style = space
indent_size = 2

# https://ktlint.github.io/
[{*.kt,*.kts}]
indent_style = space
indent_size = 4
continuation_indent_size = 4

[{M,m}akefile]
indent_style = tab

[*.md]
max_line_length = 79
indent_size = 2
indent_style = space

# https://www.python.org/dev/peps/pep-0008/
[{pythonrc,*.py}]
indent_size = 4
indent_style = space
max_line_length = 79

[{BUILD,WORKSPACE}]
indent_size = 4
indent_style = space

# https://google.github.io/styleguide/shell.xml
[*.sh]
indent_size = 2
indent_style = space

[*.xml]
indent_size = 2
indent_style = space

[*.y{,a}ml]
indent_size = 2
indent_style = space
