[Unit]
Description=swaybg - Background For Wayland (%I)
Documentation=man:swaybg(1)

[Service]
ExecStart=/usr/bin/swaybg --output * --image %h/Pictures/Wallpaper/%I --mode fill
