" See for a list of actions:
" https://github.com/JetBrains/intellij-community/blob/master/platform/platform-resources/src/idea/LangActions.xml

let mapleader = ' '

" case of letters is ignored unless a capital is entered.
set ignorecase
set smartcase

" tpope's vim-commentary (gc{motion})
set commentary

" Easy way to go back to Normal mode.
inoremap jk <Esc>
inoremap kj <Esc>

" vim-gitgutter emulation
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" location-list navigation for errors (vim-unimpaired + ale)
nnoremap ]l :action GotoNextError<cr>
nnoremap [l :action GotoPreviousError<cr>

" Buffer switching (vim-unimpaired)
nnoremap ]b :action NextTab<cr>
nnoremap [b :action PreviousTab<cr>

" Searching
nnoremap <leader>/ :action FindInPath<cr>

" easymotion/vim-sneak emulation
nnoremap s :action AceAction<CR>

# Go to class
nnoremap <C-n> :action GotoClass<CR>
