[Unit]
Description=xset
Documentation=man:xset(1)
Requisite=x11.target
After=x11.target

[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStart=/usr/bin/xset +fp usr/share/fonts/local
#ExecStart=/usr/bin/xset +fp usr/share/fonts/OTF
#ExecStart=/usr/bin/xset +fp %h/.fonts
#ExecStart=/usr/bin/xset fp rehash
ExecStart=/usr/bin/xset b off

[Install]
WantedBy=desktop.target
