[Unit]
Description=bspwm panel
Documentation=man:lemonbar(1) man:conky(1)
Wants=xrdb.service
After=xrdb.service

[Service]
Environment=PATH=/usr/bin:%h/.bin
ExecStart=/bin/sh %h/.bin/panel bar
