[Unit]
Description=bspwm
Documentation=man:bspwm(1)
Requires=sxhkd.service
Wants=bspwm-panel.service
Requires=display-server.target
After=display-server.target

[Service]
ExecStart=/usr/bin/bspwm

[Install]
Alias=window-manager.service
