[Unit]
Description=bspwm - Binary space partitioning window manager
Requires=sxhkd.service
Requires=bspwm-panel.service
After=xorg.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/bspwm

[Install]
Also=bspwm-panel.service
WantedBy=window-manager.target
