[Unit]
Description=chromium-browser - the web browser from Google
Documentation=man:chromium-browser(1)
After=display-server.target

[Service]
#Type=forking
#--no-startup-window
#--log-net-log --net-log-level=0
ExecStart=/usr/bin/chromium --enable-logging --no-displaying-insecure-content --auto-launch-at-startup --force-device-scale-factor=1
Restart=on-failure

[Install]
WantedBy=desktop.target
