[Unit]
Description=compton
Documentation=man:compton(1)
Requisite=x11.target
After=x11.target

[Service]
ExecStart=/usr/bin/compton --show-all-xerrors --clear-shadow

[Install]
WantedBy=desktop.target
