[Unit]
Description=dunst
Documentation=man:dunst(1)
Requires=display-server.target
After=display-server.target
After=dbus.socket

[Service]
ExecStart=/usr/bin/dunst -print

[Install]
WantedBy=desktop.target
