[Unit]
Description=dunst - A customizable and lightweight notification-daemon
Documentation=man:dunst(1)
After=dbus.socket
After=display-server.target

[Service]
ExecStart=/usr/bin/dunst -print

[Install]
WantedBy=desktop.target
