[Unit]
Description=PulseAudio server
Requires=dbus.socket

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=xinit.target
