[Unit]
Description=tmux - terminal multiplexer
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -d -s %u
ExecStop=/usr/bin/tmux kill-session -t %u
Restart=always

[Install]
WantedBy=default.target
