[Unit]
Description=tmux session (detached)
Documentation=man:tmux(1)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux -f %h/.config/tmux/tmux.conf new-session -d -s %u
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=default.target
