[Unit]
Description=unclutter - remove idle cursor image from screen
Documentation=man:unclutter(1)
After=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/unclutter -noevents

[Install]
# This is X-specific; we want it only if xorg is used.
WantedBy=x11.target
