[Unit]
Description=unclutter - remove idle cursor image from screen
After=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/unclutter -noevents

[Install]
WantedBy=xinit.target
