[Unit]
Description=RXVT-Unicode Daemon
Requires=urxvtd.socket
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/urxvtd --opendisplay
Restart=on-failure

[Install]
Also=urxvtd.socket
WantedBy=desktop.target
