[Unit]
Description=RXVT-Unicode Daemon
Documentation=man:urxvtd(1) man:urxvt(1)
After=display-server.target

[Service]
ExecStart=/usr/bin/urxvtd --opendisplay
Restart=on-failure
