[Unit]
Description=RXVT-Unicode Daemon
After=xorg.target
Requires=xorg.target

[Service]
Type=forking
ExecStart=/usr/bin/urxvtd -q -o -f

[Install]
WantedBy=xinit.target
