[Unit]
Description=feh - image viewer and cataloguer
After=display-server.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --verbose --no-fehbg --bg-fill %h/.wallpaper/SonicCute.jpg

[Install]
WantedBy=desktop.target
