[Unit]
Description=feh - image viewer and cataloguer
After=display-server.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --no-fehbg --bg-fill %h/.wallpaper/PikachuEevee.png

[Install]
WantedBy=desktop.target
