# Note: this doesn't work; calling this from tty0 results in a permissions error.
[Unit]
Description=weston - the reference Wayland server
Documentation=man:weston(1)
Requires=dbus.socket
Before=display-server.target

[Service]
ExecStart=/usr/bin/weston-launch --verbose
Restart=on-failure

[Install]
RequiredBy=display-server.target
