[Unit]
Description=Xorg server (Socket)
Before=xorg.target

[Socket]
ListenStream=/tmp/.X11-unix/X0

[Install]
#WantedBy=sockets.target
WantedBy=xorg.target
