[Unit]
Description=Xorg delay
Requisite=xorg.service
After=xorg.service
Before=x11.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sleep %i

[Install]
WantedBy=desktop.target
