[Unit]
Description=Xorg - X11R7 X server
Documentation=man:Xorg(1)
Requires=xorg.socket

[Service]
ExecStart=/usr/bin/Xorg :0 -nolisten tcp -noreset -verbose 2 vt1
SuccessExitStatus=0 1
