[Unit]
Description=xrdb
Documentation=man:xrdb(1)
Requisite=x11.target
After=x11.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xrdb -display $DISPLAY -merge %h/.Xresources

[Install]
WantedBy=desktop.target
