# Note - this is X-specific; if we were using wayland then this would fail.

[Unit]
Description=xrdb - X server resource database utility
Documentation=man:xrdb(1)
After=display-server.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xrdb -load %h/.Xresources

[Install]
WantedBy=desktop.target
