[Unit]
Description=xsetroot
Documentation=man:xsetroot(1)
Requisite=x11.target
After=x11.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=desktop.target
