[Unit]
Description=xsetroot - root window parameter setting utility for X
After=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy=desktop.target
