[Unit]
Description=dunst
Documentation=man:dunst(1)
PartOf=graphical-session.target
Requires=dbus.socket
After=dbus.socket
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/dunst -print

[Install]
WantedBy=graphical-session.target
