[Unit]
Description=steam
Documentation=man:steam(6)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/steam
ExecStop=/usr/bin/pkill -9 -F %h/.steampid

[Install]
WantedBy=graphical-session.target
