! These files are symlinks to files in the colours and fonts folders.
! It is necessary to create a file for a colourscheme or font, obviously.
#include "/home/alexandre/.Xresources.d/colour"
#include "/home/alexandre/.Xresources.d/font"

! Compile xft: Turn on/off double-buffering for xft (default enabled). On some
! card/driver combination enabling it slightly decreases performance, on most
! it greatly helps it. The slowdown is small. so it should noramlly be enabled.
URxvt*buffered: true
! Set window title string, the default title is the command-line specified
! after the -e option, if any, otherwise the application name; option -title.
URxvt*title: rxvt-unicode-256color

! Disable scrollbar (use Tmux scrollback buffers)
URxvt*scrollBar: false

! Scroll to bottom when non-special key is pressed.
! URxvt*scrollTtyKeypress: true

! Do not scroll to bottom when tty receives new output
! URxvt*scrollTtyOutput: false

! Do not scroll when tty receives new lines; adds speed.
! URxvt*scrollWithBuffer: false

! When receiving lots of lines, only scroll once in a while.
! Adds speed, at the cost of not showing some lines.
! Obviously if you are receiving a lot of output it would be best to redirect
! it to a file and analyse it there.
! URxvt*skipScroll: true

! Compile frills: Disable the usage of the built-in block graphics/line drawing
! characters and just rely on what the specified fonts provide. Use this if you
! have a good font and want to use its block graphic glyphs.
! URxvt*skipBuiltinGlyphs: true

! Do not save any lines; use Tmux
URxvt*saveLines: 0

! Font-related configuration

! Do not automatically hint which would disregard existing hinting information.
Xft.autohint: false
! Reduce colour fringing.
Xft.lcdfilter: lcddefault
! Amount of font reshaping done to line up to the grid.
Xft.hintstyle: hintfull
! Line up font with rasterized grid.
Xft.hinting: true
! Increases apparent resolution of font edges that have been converted from
! vector to bitmap via rasterization.
Xft.antialias: true
! Specify monitor type.
Xft.rgba: rgb
