[Unit]
Description=tmux session (detached)
Documentation=man:tmux(1)

[Service]
#ExecStartPre=/usr/bin/mkdir -p "${TMUX_TMPDIR}"
ExecStart=/usr/bin/tmux -f %h/.config/tmux/tmux.conf new-session -d -s %u
ExecStop=/usr/bin/tmux kill-session -t %u
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
