[Unit]
Description=zoom
Documentation=https://zoom.us

[Service]
# This allows monitor-sharing (but not window-sharing) on Wayland
Environment=XDG_CURRENT_DESKTOP=GNOME
ExecStart=/usr/bin/zoom

[Install]
WantedBy=graphical-session.target
