[Unit]
Description=Remove all dangling images
Documentation=man:docker-image-prune(1) https://docs.docker.com/engine/reference/commandline/image_prune/

[Service]
Type=oneshot
ExecStart=/usr/bin/docker image prune --force
