[Unit]
Description=redshift
Documentation=man:redshift(1)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/redshift
Restart=on-failure

[Install]
WantedBy=graphical-session.target
